################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/androidLibs/sfml-activity/ARM/Debug
/Intermediate/ARM/Debug
/build/ARM/Debug
